.heroContainer {
	display: flex;
	margin: 0 auto;
	margin-top: calc(80px + 1.5rem);
	max-height: 50vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 75vw;
	font-family: var(--body);
	transition: 0.125s ease-in-out;
	padding-bottom: 10vh;
}

.heroContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-right: 25px;
}

.heroContent h1 {
	flex-direction: row;
	align-items: center;
	font-family: var(--header);
	font-weight: 500;
	font-size: 3rem;
	color: var(--black);
	text-align: left;
}

.heroContent span {
	display: inline-flex;
	flex-direction: row;
	font-weight: 700;
	background-color: var(--yellow);
	padding: 0 5px;
	align-items: center;
}

.heroContent h5 {
	font-family: var(--body);
	font-weight: 500;
	font-size: 2rem;
	color: var(--black);
	text-align: left;
	margin: 40px 0;
}

.heroContent p {
	font-size: 1.625rem;
	margin-bottom: 40px;
	font-family: var(--body);
	color: var(--font-color);
}

.hand {
	width: 75px;
	padding-bottom: 20px;
}

.img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.img > img {
	min-width: 30rem;
	box-shadow: -10px 10px 0px 0px var(--black);
	border: 0.313rem solid var(--black);
}

.ctaButton {
	display: inline-block;
	background-color: var(--yellow);
	color: var(--black);
	text-decoration: none;
	font-weight: 600;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	border: 2px solid var(--black);
	box-shadow: -5px 5px 0px 0px rgba(42, 61, 69, 1);
}

.ctaButton:hover {
	background-color: #5b8ffd;
}

.socialGit {
	display: inline-block;
	width: 36px;
	height: 36px;
	color: var(--font-color);
}

.socialGit:hover {
	color: var(--green);
	transition: 0.225s ease-in-out;
}

.socialLinked {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 0 10px;
	color: var(--font-color);
}

.socialLinked:hover {
	opacity: 0.8;
	color: rgba(0, 119, 181, 1);
	width: 42px;
	transition: 0.125s ease-in-out;
}

@media screen and (max-width: 768px) {
	.heroContainer {
		min-height: 100vh;
		margin-top: calc(70px + 20px); 
	}
	.hero {
		flex-direction: column;
		padding: 5vh 0;
	}
	.socialLinks {
		padding: 2.5rem 0
	}
}
 
.socialLink:hover {
	opacity: 0.8;
}
