.container {
	display: flex;
	background-color: var(--white);
	color: var(--font-color);
	margin: 0 auto;
	 
}

.title {
	display: flex;
	height: 3.725rem;
	align-items: center;
	font-family: var(--body);
	font-size: 1.75rem;
	text-align: left;
	margin-right: 5rem;
	text-transform: lowercase;
	color: var(--green);
}

.title:hover {
	color: var(--black);
}

.title > span {
	width: 3px;
	height: 42px;
	background-color: var(--blue);
	margin-left: 10px;
}

.techStack {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 3.5rem;
}

.techItem {
	display: flex;
	transition: transform 0.2s ease-in-out;
}
.techItem:first-child {
	padding-left: 0rem;
}

.techItem:hover {
	transform: translateY(-1px);
}

.techItem img {
	width: 30px;
}

.techItem h3 {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding-right: 40px;
}

@media screen and (max-width: 768px) {
	.container {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: space-evenly;
		padding: 0;
		margin: 0;
		max-width: 100vw;
	}
	.techStack {
		flex-wrap: wrap;
	}
}
