.about {
	width: 50vw;
	display: flex;
	margin: 0 auto;
}

.aboutContent {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between; 
	box-shadow: -6px 6px 0px 0px rgba(21, 29, 35, 1);
	margin-bottom: 25vh;
	line-height: 3rem;
	
}
.about h1 {
	font-family: var(--header);
	font-size: 1.625rem;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	color: var(--white);
	background-color: var(--green);
	border: 2px solid var(--black);
	border-bottom: 2px solid transparent;
	padding: 2rem;
}

.about p {
	font-family: var(--body);
	font-size: 1.85rem;
	color: var(--white);
	background-color: var(--green);
	border: 2px solid var(--font-color);
	padding: 4rem;
}
