@import "./global.css";

/* === About Hero === */

.about-container {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  align-items: flex-start;
}
.del-img {
  z-index: 2;
  flex-grow: 0;
  margin: 1rem;
  border-radius: 25px;
  max-width: 100%;
  box-shadow: -1px 9px 73px -19px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px 9px 73px -19px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 9px 73px -19px rgba(0, 0, 0, 1);
}

.about-main > h1 {
  font-family: var(--ff-primary);
  padding: 0 1rem;
  margin: 0;
  font-size: 5vw;
  font-weight: 600;
  min-width: 5vw;
  line-height: 0.95em;
  color: var(--accent);
}

.about-txt {
  font-size: 1.15em;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 1.25em;
  color: var(--white);
}

/* Grid 1 of 5*/
.grid_1_of_2 {
  width: 49%;
}
.grid_2_of_2 {
  width: 100%;
}

.grid_1_of_3 {
  width: 32%;
}
.grid_2_of_3 {
  width: 66%;
}
.grid_3_of_3 {
  width: 100%;
}
/* Column */
.col {
  display: flex;
  flex-direction: column;
  float: left;
  margin: 0;
}
.col:first-child {
  margin-left: 0 !important;
}

/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;

  justify-content: space-between;
}
.row:before,
.row:after {
  content: "";
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.row:after {
  clear: both;
}

/* === Skill Cards === */
