@import "./global.css";

.about-container {
  display: flex;
  flex-direction: row; 
   border: 2px solid red;
   margin: 5rem 0;
   justify-content: space-between;
} 

.about-container > span {
    max-width: 45%;
}