@import "./global.css";

.ac-wrapper {
  display: flex;
  flex-flow: row wrap;
  max-width: 95vw;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
  
} 
.ac-header {
  flex: 1 100%;
  text-align: right;
  display: inline-flex;
}

.ac-header > h1 {
  font-family: var(--ff-primary);
  font-size:2.25em;
  color: var(--blue);
}
.ac-header > h6 {
  font-family: var(--ff-primary);
  font-size: 1.5em;
  font-weight: 400;
  color: var(--black);
  padding: 0;
  margin: 0;
}
.main {
  text-align: left;
  max-width: 75%; 

}
.ac-column {
  padding: 10px 0;
}
.timeline-title {
  font-family: var(--ff-primary); 
}

.timeline-title > h1 {
  font-size: 1.75em;
  color: var(--blue);
}

.timeline-title > h3 {
  font-family: var(--ff-body);
  font-size: 1.25em;
  font-weight: 500;
  color: var(--green);
}

.description > p {
  font-family: var(--ff-body);
  font-size: 1.15em;
  color: var(--blue);
  letter-spacing: 0;
} 

.aside-1 > h1{
  font-family: var(--ff-primary);
  text-transform: capitalize;
  color: var(--accent)
}

.ac-divider {
  background-color: var(--green);
  height: 0.15rem;
  width: 65vw;
  margin: 3rem auto;
}

