@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");
@import './normalize.css';

:root {
  --black: #212529;
  --white: #f9f8f8;
  --green: #69b578;
  /*#32583a*/
  --blue: #153b50;
  --yellow: rgb(240, 197, 20);
  --red: rgb(164, 22, 35);
  --accent: #fe4a49;

  --ff-primary: "Montserrat", sans-serif;
  --ff-body: "Work Sans", sans-serif;
  --amp: "Ovo", serif;
}  