@import "./global.css";

.hamburger-menu {
  display: none;
  z-index: 9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: 0.5s all ease;
}

.menu-secondary-background-color {
  z-index: -1;
  background: var(--blue);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.menu-layer {
  position: relative;
  background: var(--green);
  height: 100vh;
  overflow: hidden;
}

.burger-wrapper {
  position: relative;
}

.menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20.5vh;
}
nav {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: var(--ff-primary);
  list-style: none;
  font-size: 6em;
  font-weight: 900;
  cursor: pointer;
  height: 8.75rem;
  overflow: hidden;
  position: relative;
  width: 43.75rem;
}

li > a {
  text-decoration: none;
  color: var(--dk-green);
  position: absolute;
}

li > a:hover {
  color: var(--white);
  border-bottom: 5px solid var(--blue);
  transition: 0.2s ease all;
  text-shadow: 24px 14px 9px rgba(36, 66, 43, 0.41);
}

.social-ham {
  margin: 0 0.5rem;
  transition: 0.5s all ease-out;
  border: 2px solid transparent;
  border-radius: 2rem;
  background-color: var(--white);
  border: 2px solid var(--green);
}
.social-ham:hover {
  box-shadow: 1px 7px 33px -1px rgba(35, 65, 42, 0.75);
  -webkit-box-shadow: 1px 7px 33px -1px rgba(35, 65, 42, 0.75);
  -moz-box-shadow: 1px 7px 33px -1px rgba(35, 65, 42, 0.75);
  -webkit-transform: scale(1);
  transform: scale(1.25);
  border-radius: 2rem;
  transition: 0.5s all ease;
  overflow: visible;
  background-color: var(--white);
  border: 2px solid var(--yellow);
}

.info {
  display: flex;
}
