@import "./global.css";

header { 
  padding: 2vh 0;
}

.top-menu {
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5vh 0;
  border-bottom: 4px solid var(--yellow);
}
 
.logo a {
  font-family: var(--ff-primary);
  font-size: 2.85em;
  font-weight: 700;
  text-decoration: none;
  color: var(--blue);
  letter-spacing: -0.095rem;
}
.logo span {
  color: var(--yellow);
}
.menu button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 1.35em;
  font-family: var(--ff-primary);
  color: var(--black);
} 
.menu button:hover {
  color: var(--black);
}