@import './global.css';
 

.inner-header { 
    z-index: 10;
    position: relative;
    height: 7.816rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-family: var(--ff-primary);
    font-size: 2.85em;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    letter-spacing: -0.095rem;
}
.logo span {
    color: var(--yellow)
}
.menu button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-family: var(--ff-primary);
    color: var(--yellow);
    mix-blend-mode: difference;
}

.menu button:hover{
    color: var(--white)
}