@import "./global.css";


@media only screen and (min-width: 2160px) {
  .home {
    padding-top: 12vh !important;
  }
  .hero-copy {
    font-size: 2em;
  }
}

@media only screen and (max-width: 956px) {
  .home {
    display: flex;
    flex-direction: column;
    padding-top: 5vh !important;
  }
  .hero { 
    width: 100% !important; 
    flex-direction: column !important;
  }
  .hero-header {
    font-size: 3.65em !important;
    font-family: var(--ff-primary);  
    letter-spacing: 0!important; 
  } 
  .hero-copy {
    width: 100% !important;
  } 
  .about-container {
    border: 3px dashed transparent;
  } 
}

@media only screen and (max-width: 768px) {
 .home {
    margin: 0 auto;
    padding-top: 2.5vh !important; 
    display: flex;
    font-size: 1.1em;
    display: flex;
    flex-wrap: nowrap; 
  }
  li {
    font-family: var(--ff-primary);
    list-style: none;
    font-size: 5em !important;
    font-weight: 900;
    cursor: pointer;
    height: 6rem !important;
    overflow: hidden;
    position: relative;
    width: 43.75rem;
  }
  .about-container {
    border: 3px dotted transparent;
  }
  [class*="grid_"] {
    width: 100%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .del-img {
    border-radius: 25px !important;
    width: 75%;
    padding: 1rem auto;
    margin: 0 auto;
    box-shadow: -2px 48px 73px -19px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -2px 48px 73px -19px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 48px 73px -19px rgba(0, 0, 0, 1);
    overflow: hidden;
  }
  .about-main > h1 {
    font-family: var(--ff-primary);
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto;
    font-size: 2.65em;
    font-weight: 600;  
  }

  .about-txt {
    font-size: 1em;
    padding: 0 1rem;
    font-weight: 400; 
  }
}
