@import "./global.css";

@media only screen and (min-width: 2160px) {
  .home {
    padding-top: 12vh !important;
  }
  .hero-header {
    font-size: 5vw !important;
  }
  .hero-copy {
    font-size: 2em;
  }
}

@media only screen and (max-width: 1024px) {
  .home-container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh !important;
  }
  .hero {
    width: 100% !important;
    flex-direction: column !important;
    justify-content: flex-start;
  }
  .hero-header {
    font-size: 2.85em !important;
    font-family: var(--ff-primary);
    letter-spacing: 0 !important;
  }
  .hero-copy {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .about-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10vh;
  }
  .about-hero > img {
    width: 50vw;
    box-shadow: 2px 30px 21px -1px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 2px 30px 21px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 2px 30px 21px -1px rgba(0, 0, 0, 0.19);
  }

  .about-hero > img.align-self {
    align-self: center;
  }

  .about-hero > img.align-self {
    align-self: center;
    margin: 0 auto;
  }
  .about-copy > h1 {
    font-size: 4.75em;
    padding: 2rem 0;
    margin: 0;
  }
  .about-copy > p {
    font-family: var(--ff-body);
    font-size: 2rem;
    color: var(--white);
    padding-top: 0;
    margin-bottom: 1.15rem;
    line-height: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    margin: 0 auto;
    padding-top: 2.5vh !important;
    display: flex;
    font-size: 1.1em;
    display: flex;
    flex-wrap: nowrap;
  }
  .hero-header {
    font-size: 65vw;
  }
  li {
    font-family: var(--ff-primary);
    list-style: none;
    font-size: 5em !important;
    font-weight: 900;
    cursor: pointer;
    height: 6rem !important;
    overflow: hidden;
    position: relative;
    width: 43.75rem;
  }
  [class*="grid_"] {
    width: 100%;
  }
  .col {
    margin: 1% 0 1% 0%;
  }
  .about-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .about-hero {
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
  }
  .about-hero > img {
    width: 75%;
  }
  .about-copy {
    align-content: center;
    padding: 0;
    margin: 0;
  }
  .about-copy > h1 {
    font-size: 10vw !important;
  }
}
