@import './root.css';
@import './normalize.css';
@import './components.css';

body {
	background-color: var(--white);
}

/* App container */
.app-container {
	min-width: 100%;
	max-width: 100vw;
	max-height: 100vh;
	overflow-x: hidden;
}

.app-container.scrolled { 
	transition: ease-in-out .75s;
}
/* App body */
.app-body {
	width: 100%;
	display: flex;
	flex-direction: column;
} 
/* App content */
.app-content {
	flex: 2;
	padding-right: 20px;
}

/* Sidebars */
.sidebar-1,
.sidebar-2 {
	flex: 1;
	padding: 10px;
	border: 1px solid #ddd;
}

/* Footer */
footer {
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #ddd;
}
